@model appli_gest_assoc.Models.Membre

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Membre</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PrenomMembre" class="control-label"></label>
                <input asp-for="PrenomMembre" class="form-control" />
                <span asp-validation-for="PrenomMembre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomMembre" class="control-label"></label>
                <input asp-for="NomMembre" class="form-control" />
                <span asp-validation-for="NomMembre" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label class="control-label">Sexe</label>
                            <div class="col-md-10">
                                <select class="form-control" asp-for="Sexe">
                                    <option>Homme</option>
                                    <option>Femme</option>
                                </select>
                           </div>
            </div>
            <div class="form-group">
                <label asp-for="DateNaiss" class="control-label"></label>
                <input asp-for="DateNaiss" class="form-control" />
                <span asp-validation-for="DateNaiss" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LieuNaiss" class="control-label"></label>
                <input asp-for="LieuNaiss" class="form-control" />
                <span asp-validation-for="LieuNaiss" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tel" class="control-label"></label>
                <input asp-for="Tel" class="form-control" />
                <span asp-validation-for="Tel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresse" class="control-label"></label>
                <input asp-for="Adresse" class="form-control" />
                <span asp-validation-for="Adresse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
